---
import Section from "../atoms/Section.vue";

---

<footer>
  <Section>
    <div class="flex justify-between">
      <a href="https://mono.studio">mono.studio</a>
      <div>
        <p>Credits</p>
        <p>Games: <a href="https://www.mmobomb.com/api" class="underline">mmobomb</a></p>
        <p>UI inspired: <a href="https://github.com/onwidget/astrowind" class="underline">AstroWind</a></p>
      </div>
    </div>
  </Section>
</footer>
