---
import Button from "../atoms/Button.vue";
import Section from "../atoms/Section.vue";

---

<footer>
  <Section>
    <div class="flex justify-between">
      <Button href="https://mono.studio" tag="a" blank theme="ghost">mono.studio</Button>
      <div>
        <p>Credits</p>
        <p>Games: <Button href="https://www.mmobomb.com/api" blank tag="a" theme="ghost">mmobomb</Button></p>
        <p>UI Inspiration: <Button href="https://github.com/onwidget/astrowind" blank tag="a" theme="ghost">AstroWind</Button></p>
      </div>
    </div>
  </Section>
</footer>
